Here are your requests for your spaces, <%= current_user.full_name %></br></br>

<% @all_my_spaces.each do |space| %>
  <% space.bookings.each do |booking| %>
    Name: <%=space.name%></br>
    Description: <%= space.description %></br>
    Price per night: £<%= space.price %></br>
    Requested from: <%= space.from_date.strftime('%d %B %Y') %></br>
    Requested to: <%= space.to_date.strftime('%d %B %Y') %></br>
    Confirmation Status: <%= booking.confirmed %></br>
    Requested by:
  <%= booking.user.full_name %></br></br>
  <form method="POST" action="/requests/approve/<%= booking.space_id %>/<%= booking.user.id %>">
  <input type="submit" value="Approve">
  </form>
  <% end %>
<% end %>
