<% if current_user %>
  <i>&nbsp;You are signed in, <%= current_user.username %></i>
<% end %>
 <% if !current_user %>
  <i>&nbsp;You are not logged in.</i>
  <% end %>
    <h1 class="header">Available spaces</h1>
    <div></br>
      <% @spaces.each do |space| %>
        <% unless space.bookings.any? { |booking| booking.confirmed } %>
        <div class="box">
          <% if space.media %> <image src="<%= space.media %>" style="width:20%; float:right;"/> <% end %>
            <span class="space-listing">Name:</span> <%= space.name %></br>
            <span class="space-listing">Description:</span> <%= space.description %></br>
            <span class="space-listing">Price per night:</span> £<%= space.price %></br>
            <span class="space-listing">Available from:</span> <%= space.from_date.strftime('%d %B %Y') %></br>
            <span class="space-listing">Available to:</span> <%= space.to_date.strftime('%d %B %Y') %></br>
          <% if current_user %>
            <div class="mt-1 centre-button">
              <form method="POST" action="/bookings/new/<%= space.id %>">
              <input type="submit" value="Book">
            </form></div>
          <% else %></br>
          <% end %>
        </div></br>
      <% end %>
    <% end %>
  </div>
